{% extends 'base.html.twig' %}

{% block title %}Playlist index{% endblock %}

{% block body %}
    <h1>Playlist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for playlist in playlists %}
            <tr>
                <td>{{ playlist.id }}</td>
                <td>{{ playlist.name }}</td>
                <td>{{ playlist.createdAt ? playlist.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ playlist.updatedAt ? playlist.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_playlist_show', {'id': playlist.id}) }}">show</a>
                    <a href="{{ path('app_playlist_edit', {'id': playlist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_playlist_new') }}">Create new</a>
{% endblock %}
