{% extends 'base.html.twig' %}

{% block title %}Serie index{% endblock %}

{% block body %}
    <h1>Serie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>ShortDescription</th>
                <th>LongDescription</th>
                <th>ReleaseDate</th>
                <th>CoverImage</th>
                <th>Staff</th>
                <th>Casting</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            <tr>
                <td>{{ serie.id }}</td>
                <td>{{ serie.title }}</td>
                <td>{{ serie.shortDescription }}</td>
                <td>{{ serie.longDescription }}</td>
                <td>{{ serie.releaseDate ? serie.releaseDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ serie.coverImage }}</td>
                <td>{{ serie.staff ? serie.staff|json_encode : '' }}</td>
                <td>{{ serie.casting ? serie.casting|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_serie_show', {'id': serie.id}) }}">show</a>
                    <a href="{{ path('app_serie_edit', {'id': serie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_serie_new') }}">Create new</a>
{% endblock %}
