{% extends 'base.html.twig' %}

{% block title %}PlaylistMedia{% endblock %}

{% block body %}
    <h1>PlaylistMedia</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ playlist_media.id }}</td>
            </tr>
            <tr>
                <th>AddedAt</th>
                <td>{{ playlist_media.addedAt ? playlist_media.addedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_playlist_media_index') }}">back to list</a>

    <a href="{{ path('app_playlist_media_edit', {'id': playlist_media.id}) }}">edit</a>

    {{ include('playlist_media/_delete_form.html.twig') }}
{% endblock %}
